.product-img img {
  max-width: 200px;
}
.cartItem {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}
.cartItem-left {
  flex: 0.7;
  display: flex;
}
.cartItem-right {
  flex: 0.3;
  display: flex;
}
