.subtotal {
  display: flex;
}
.left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.right {
  flex: 0.2;
}
.total {
  display: flex;
  font-size: x-large;
  font-weight: 800;
}
